server:
  servlet:
    context-path: /api/v1

spring:
  profiles:
    active: default
  devtools:
    add-properties: false

mongodb:
  primary:
    host: localhost
    port: 27017
    database: sampleDB1
  secondary:
    host: localhost
    port: 27017
    database: sampleDB1